body {
    font-family: 'Ubuntu', sans-serif;
}

#navbar {
    background-color: #00fdc8;
}

#video {
    background-color: #000000;
}

.inner {
    padding: 20px;
}

#electrical-design {
    background-color: #7c7ce0;
}

#mechanical-design {
    background-color: #f6cd4c;
    height: 400px;
}
#mechanical-design-img {
    background-image: url('../images/one-module.jpg');
    background-size: 100%;
}
#mechanical-design-img:hover {
    background-image: url('../images/one-module-cross-section.jpg');
}

#software-design {
    background-color: #db4437;
}

#gui {
    background-color: #78909c;
}