body {
    font-family: 'Ubuntu', sans-serif;
}

#navbar {
    background-color: #00fdc8;
}

#video {
    background-color: #000000;
}

.inner {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

#mechanical-design {
    background-color: #f6cd4c;
    min-height: 400px;
}
#mechanical-design-img {
    background-image: url('../images/one-module.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
#mechanical-design-img:hover {
    background-image: url('../images/one-module-cross-section.jpg');
}

#electrical-design {
    background-color: #7c7ce0;
    min-height: 325px;
}
#electrical-design-img {
    background-image: url('../images/platform-circuit-board.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#software-design {
    background-color: #db4437;
    min-height: 300px;
}
#software-design-img {
    background-image: url('../images/labview-screenshot.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#gui {
    background-color: #78909c;
    min-height: 250px;
}
#gui-img {
    background-image: url('../images/gui.png');
    background-size: 100%;
    background-repeat: no-repeat;
}